* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: chocolate;
}

/* body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}


body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
} */

div#quadrado {
   width: 200px; 
   height: 200px;
   background-color: #123456;
}